html{
	background-color: rgb(250, 250, 250);
}

section{
	width: 35%;
	margin-right: auto;
	margin-left: auto;	
}

div{
	width: 30%;
	float: left;
	margin: 10px;
}
div:hover{
	background-color: rgb(220, 220, 220);
	border-radius: 10px;
	cursor: pointer;
}

img{
	margin-left: 4.5%;
}

.reddit{
	margin-left: 35%;
	margin-top: 5%;
}
.reddit:hover{
	cursor: pointer;
}